<div>
  <%=render 'shared/venue_card', booking: @booking%>
  <div class="d-flex justify-content-center">

    <%if current_user == @booking.venue.user%>
      <%= button_to "Accept Booking", update_acceptance_booking_path, class:"btn btn-dark"%>
    <%end%>
  </div>
</div>
