<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>

<div class="bannerimage" style="position: relative;">
  <div class="text-overlay" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1; color: white;">
    <h1>Hire Cool Venues!</h1>
    <p>Connecting you with the coolest and most unique venues!</p>
    <button style="padding: 10px 20px; background-color: #007bff; color: white; border: none; border-radius: 5px;">Book Now</button>
  </div>
  <img src="https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?fit=2500%2C1073" style="width: 100%; height: auto;">
</div>


<div class="container">
  <h1 class="h2">About us</h1>
  <span style="font-weight: 400">Our mission is simple: to connect you with the coolest and most unique venues for any occasion. From historic theaters steeped in cinematic charm to trendy bars pulsing with urban energy, we've curated a diverse selection of spaces to suit every style and taste. What sets us apart is our commitment to making the venue-hiring process effortless and enjoyable. With just a few clicks, you can browse our extensive collection of venues, filtering by location, capacity, amenities, and more. Whether you're searching for an intimate setting for a romantic dinner or a spacious hall for a grand celebration, our user-friendly platform makes it easy to find the perfect match. </span>
</div>

<div class="container">
  <h1 class="h2">Types of venues:</h1>
</div>
