<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>

<div class="bannerimage">
  <div class="text-overlay">
    <h1>Movie Theater Rentals</h1>
    <p>Hire out a movie theater near you!</p>
  </div>
  <img src="https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?fit=2500%2C1073">
</div>

<div class="container">
  <h1 class="h2">About us</h1>
  <span style="font-weight: 400">Airbnb was born in 2007 when two Hosts welcomed three guests to their San Francisco home, and has since grown to over 5 million Hosts who have welcomed </span>
  <span style="font-weight: 400"> guest arrivals in almost every country across the globe. Every day, Hosts offer unique stays and experiences that make it possible for guests to connect with communities in a more authentic way.</span>
  <span style="font-weight: 400"> guest arrivals in almost every country across the globe. Every day, Hosts offer unique stays and experiences that make it possible for guests to connect with communities in a more authentic way.</span>
  <span style="font-weight: 400"> guest arrivals in almost every country across the globe. Every day, Hosts offer unique stays and experiences that make it possible for guests to connect with communities in a more authentic way.</span>
  <span style="font-weight: 400"> guest arrivals in almost every country across the globe. Every day, Hosts offer unique stays and experiences that make it possible for guests to connect with communities in a more authentic way.</span>
  <span style="font-weight: 400"> guest arrivals in almost every country across the globe. Every day, Hosts offer unique stays and experiences that make it possible for guests to connect with communities in a more authentic way.</span>
</div>
