<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>

<div class="bannerimage" style="position: relative;">
  <div class="text-overlay" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1; color: white;">
    <h1>Hire Cool Venues!</h1>
    <p>Connecting you with the coolest and most unique venues!</p>
    <a href="<%= venues_path %>" class="btn">See Our Venues</a>
  </div>
  <img src="https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?fit=2500%2C1073" style="width: 100%; height: auto;">
</div>


<div class="container">
  <h1 class="h2">About us</h1>
  <span style="font-weight: 400">Our mission is simple: to connect you with the coolest and most unique venues for any occasion. From historic theaters steeped in cinematic charm to trendy bars pulsing with urban energy, we've curated a diverse selection of spaces to suit every style and taste. What sets us apart is our commitment to making the venue-hiring process effortless and enjoyable. With just a few clicks, you can browse our extensive collection of venues, filtering by location, capacity, amenities, and more. Whether you're searching for an intimate setting for a romantic dinner or a spacious hall for a grand celebration, our user-friendly platform makes it easy to find the perfect match. </span>
</div>

<section class="articles">
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="https://sashaleephotography.com/wp-content/uploads/2018/08/Ant-Dawn-2.jpg.webp" alt="" />
      </figure>
      <div class="article-body">
        <h2>Garden Center</h2>
        <p>
          Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
        </p>
        <a href="#" class="read-more">
          See Venue <span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="https://static.designmynight.com/uploads/2022/06/wagtail-london-optimised.png" alt="" />
      </figure>
      <div class="article-body">
        <h2>Rooftop Terrace</h2>
        <p>
          Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
        </p>
        <a href="#" class="read-more">
          See Venue <span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="https://images.squarespace-cdn.com/content/v1/62125959ab8da87f49fb31cb/cc4f59e1-46bb-410b-9577-d2e1ecf4d6d4/059_Wedding+at+The+Paseo+venue+in+Apache+Junction%2C+Arizona+only+45+minutes+from+Phoenix..jpg?format=1000w" alt="" />
      </figure>
      <div class="article-body">
        <h2>Private Hall</h2>
        <p>
          Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
        </p>
        <a href="#" class="read-more">
          See Venue <span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
</section>


 <footer class="footer">
  <div class="container">
    <p>© 2024 VENDI VIDI. All rights reserved.</p>
    <p>Designed and developed by Le Wagon students.</p>
  </div>
</footer>
