  <div class="card-wrapper">
     <% venues.each do |venue| %>
      <div class="card-index">
        <img src="https://source.unsplash.com/random/?movie,theater&<%= venue.name %>" alt="<%= venue.name %>">
        <div class="card-content">
          <h2>
            <%= venue.name %>
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Scing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
          </p>
          <a href="#" class="button">
            <%= link_to "View Venue", venue_path(venue), class: "btn btn-primary" %>
          </a>
        </div>
      </div>
    <% end %>
  </div>
