<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="../../assets/stylesheets/venues/_index.scss" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<main>
  <div class="card-wrapper">
     <% @venues.each do |venue| %>
      <div class="card-index">
        <%= render "photo", venue: @venues %>
        <div class="card-content">
          <h2>
            <%= venue.name %>
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Ut enim ad minim veniam, quis.
          </p>
          <a href="#" class="button">
            <%= link_to "View Venue", venue_path(venue), class: "btn btn-primary" %>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</main>
