<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="../../assets/stylesheets/venues/_index.scss" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<div class="container text-center">
    <h1>Customer Reviews</h1>
</div>

    <div class="review-wrapper">

        <div class="review-card">
            <div class="rating">

                <span class="star-icon">&#9733;</span>
                <span class="star-icon">&#9733;</span>
                <span class="star-icon">&#9733;</span>
                <span class="star-icon">&#9733;</span>
                <span class="star-icon">&#9734;</span>
            </div>
            <div class="review-content">

                <p>The location was brilliant, the movie theater is huge and the sound system was amazing. </p>
                <p><strong>Recommendation:</strong> Yes</p>
            </div>
        </div>
        <div class="review-wrapper">


    </div>
